<app-block-space layout="spaceship-ledge-height"></app-block-space>
<br />
<div class="block">
  <div class="container container--max--lg">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7 d-flex">
        <div class="card flex-grow-1 mb-md-0 mr-0 mr-lg-3 ml-0 ml-lg-4">
          <div class="card-body card-body--padding--2">
            <h2 class="card-title">Reset your password</h2>

            <p *ngIf="successResponse == null">
              Set a new password
            </p>

            <form [formGroup]="resetForm">
              <div
                *ngIf="resetForm.errors?.server"
                class="alert alert-sm alert-danger"
              >
                {{ resetForm.errors.server | translate }}
              </div>
              <div
                *ngIf="successResponse != null"
                class="alert alert-sm alert-success"
              >
                {{ successResponse }}
              </div>
              <div class="form-group" *ngIf="successResponse == null">
                <label for="signup-password">{{
                  'INPUT_PASSWORD_LABEL' | translate
                }}</label>
                <input
                  *ngIf="successResponse == null"
                  id="signup-password"
                  type="password"
                  class="form-control"
                  [class.is-invalid]="resetForm.controls.password | isInvalid"
                  formControlName="password"
                />
                <div class="invalid-feedback">
                  <div
                    *ngIf="resetForm.controls.password | hasError: 'required'"
                  >
                    {{ 'ERROR_FORM_REQUIRED' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group" *ngIf="successResponse == null">
                <label for="signup-confirm">{{
                  'INPUT_PASSWORD_REPEAT_LABEL' | translate
                }}</label>
                <input
                  *ngIf="successResponse == null"
                  id="signup-confirm"
                  type="password"
                  class="form-control"
                  [class.is-invalid]="
                    resetForm.controls.confirmPassword | isInvalid
                  "
                  formControlName="confirmPassword"
                />
                <div class="invalid-feedback">
                  <div
                    *ngIf="
                      resetForm.controls.confirmPassword | hasError: 'required'
                    "
                  >
                    {{ 'ERROR_FORM_REQUIRED' | translate }}
                  </div>
                  <div
                    *ngIf="
                      resetForm.controls.confirmPassword | hasError: 'mustMatch'
                    "
                  >
                    {{ 'ERROR_FORM_PASSWORD_DOES_NOT_MATCH' | translate }}
                  </div>
                </div>
              </div>
              <div class="form-group mb-0" *ngIf="successResponse == null">
                <button
                  type="submit"
                  class="btn btn-primary mt-3"
                  [class.btn-loading]="resetInProgress"
                  (click)="reset()"
                >
                  Submit
                </button>
              </div>
            </form>

            <div class="form-group mb-0" *ngIf="successResponse != null">
              <button class="btn btn-primary mt-3" routerLink="../login">
                Go to login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-block-space layout="before-footer"></app-block-space>
  </div>
</div>
