.page-wrapper .page-body-wrapper .page-sidebar .main-header-left {
  padding-top: 0;
  padding-bottom: 0;
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-user p {
  text-transform: unset;
}
