<div class="container">
    <ul class="block-brands__list">
        <ng-container *ngFor="let brand of brands">
            <li class="block-brands__item">
                <a href="" class="block-brands__item-link">
                    <img [src]="brand.image" alt="">

                    <span class="block-brands__item-name">{{ brand.name }}</span>
                </a>
            </li>
            <li class="block-brands__divider" role="presentation"></li>
        </ng-container>
    </ul>
</div>
