<div class="about">
    <div class="about__body">
        <div class="about__image">
            <div
                class="about__image-bg"
                style="background-image: url('assets/images/about.jpg');"
            ></div>
            <app-decor class="about__image-decor" type="bottom"></app-decor>
        </div>

        <div class="about__card">
            <div class="about__card-title">About Us</div>
            <div class="about__card-text">
                RedParts is an international company with 30 years of history selling spare parts for cars, trucks and motorcycles.
                During our work we managed to create a unique service for the sale and delivery of spare parts around the world.
            </div>
            <div class="about__card-author">Ryan Ford, CEO RedParts</div>
            <div class="about__card-signature">
                <img src="assets/images/signature.jpg" width="160" height="55" alt="">
            </div>
        </div>

        <div class="about__indicators">
            <div class="about__indicators-body">
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">350</div>
                    <div class="about__indicators-item-title">Stores around the world</div>
                </div>
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">80 000</div>
                    <div class="about__indicators-item-title">Original auto parts</div>
                </div>
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">5 000</div>
                    <div class="about__indicators-item-title">Satisfied customers</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-block-space layout="divider-xl"></app-block-space>

<app-block-teammates></app-block-teammates>

<app-block-space layout="divider-xl"></app-block-space>

<app-block-reviews></app-block-reviews>

<app-block-space layout="before-footer"></app-block-space>
