<app-block-space layout="spaceship-ledge-height"></app-block-space>
<br />
<div class="block">
  <div class="container container--max--lg">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7 d-flex">
        <div class="card flex-grow-1 mb-md-0 mr-0 mr-lg-3 ml-0 ml-lg-4">
          <div class="card-body card-body--padding--2">
            <h2 class="card-title">Recover your password</h2>

            <p>
              Provide your email address so that we can verify
            </p>

            <form [formGroup]="form">
              <div
                *ngIf="form.errors?.server"
                class="alert alert-sm alert-danger"
              >
                {{ form.errors.server | translate }}
              </div>

              <div
                *ngIf="successResponse != null"
                class="alert alert-sm alert-success"
              >
                {{ successResponse }}
              </div>

              <input
                id="email"
                type="email"
                class="form-control"
                [class.is-invalid]="form.controls.email | isInvalid"
                formControlName="email"
                placeholder="Enter Your Email"
              />

              <div class="invalid-feedback">
                <div *ngIf="form.controls.email | hasError: 'required'">
                  {{ 'ERROR_FORM_REQUIRED' | translate }}
                </div>
                <div *ngIf="form.controls.email | hasError: 'email'">
                  {{ 'ERROR_FORM_INCORRECT_EMAIL' | translate }}
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-primary mt-3"
                [class.btn-loading]="resetInProgress"
                (click)="send()"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-block-space layout="before-footer"></app-block-space>
</div>
