.center {
  align-items: center;
  justify-content: center;
}
.ml-12 {
  margin: 0 0 0 12px;
}
.block-finder__button {
  width: 201px;
}

.form-control {
  width: 51%;
}

@media (max-width: 767.98px) {
  .vehicle-form__item-input {
    flex-wrap: wrap;
  }
  .ml-12 {
    margin: 0;
  }
}
