<ng-container *ngIf="!(compare.items$|async).length">
    <app-block-header
        [breadcrumb]="[
            {label: 'LINK_HOME'|translate, url: '/'},
            {label: 'LINK_COMPARE'|translate, url: ''}
        ]"
    ></app-block-header>

    <div class="block-empty">
        <div class="container">
            <div class="block-empty__body">
                <h1 class="block-empty__title">{{ 'HEADER_COMPARE_EMPTY_TITLE'|translate }}</h1>
                <div
                    class="block-empty__message"
                    [innerHTML]="'HEADER_COMPARE_EMPTY_SUBTITLE'|translate">
                </div>
                <div class="block-empty__action">
                    <a routerLink="/" class="btn btn-primary btn-sm">{{ 'BUTTON_GO_TO_HOMEPAGE'|translate }}</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="(compare.items$|async).length">
    <app-block-header
        [pageTitle]="'HEADER_COMPARE'|translate"
        [breadcrumb]="[
            {label: 'LINK_HOME'|translate, url: '/'},
            {label: 'LINK_COMPARE'|translate, url: ''}
        ]"
    ></app-block-header>

    <div class="block">
        <div class="container">
            <div class="compare card">
                <div class="compare__options-list">
                    <div class="compare__option">
                        <div class="compare__option-label">{{ 'INPUT_SHOW_LABEL'|translate }}:</div>
                        <div class="compare__option-control">
                            <div class="button-toggle">
                                <div class="button-toggle__list">
                                    <label class="button-toggle__item">
                                        <input
                                            type="radio"
                                            class="button-toggle__input"
                                            name="compare-filter"
                                            value="all"
                                            [formControl]="show"
                                        >
                                        <span class="button-toggle__button">{{ 'INPUT_SHOW_OPTION_ALL'|translate }}</span>
                                    </label>
                                    <label class="button-toggle__item">
                                        <input
                                            type="radio"
                                            class="button-toggle__input"
                                            name="compare-filter"
                                            value="different"
                                            [formControl]="show"
                                        >
                                        <span class="button-toggle__button">{{ 'INPUT_SHOW_OPTION_DIFFERENT'|translate }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="compare__option">
                        <div class="compare__option-control">
                            <button
                                type="button"
                                class="btn btn-secondary btn-xs"
                                [class.btn-loading]="clearInProgress"
                                (click)="clear()"
                            >{{ 'BUTTON_CLEAR_LIST'|translate }}</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="compare__table compare-table">
                        <tbody>
                        <tr class="compare-table__row">
                            <th class="compare-table__column compare-table__column--header">{{ 'TABLE_PRODUCT'|translate }}</th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                <a [routerLink]="url.product(product)" class="compare-table__product">
                                    <div class="compare-table__product-image image image--type--product">
                                        <div class="image__body">
                                            <img class="image__tag" [src]="product.images[0]" alt="">
                                        </div>
                                    </div>
                                    <div class="compare-table__product-name">
                                        {{ product.name }}
                                    </div>
                                </a>
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        <tr class="compare-table__row">
                            <th class="compare-table__column compare-table__column--header">{{ 'TABLE_RATING'|translate }}</th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                <div class="compare-table__rating">
                                    <div class="compare-table__rating-stars">
                                        <app-rating [value]="product.rating"></app-rating>
                                    </div>
                                    <div class="compare-table__rating-title">
                                        {{ 'TEXT_RATING_LABEL'|translate:{rating: product.rating, reviews: product.reviews} }}
                                    </div>
                                </div>
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        <tr class="compare-table__row">
                            <th class="compare-table__column compare-table__column--header">{{ 'TABLE_STOCK_STATUS'|translate }}</th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                <app-status-badge
                                    class="product__stock"
                                    [type]="{
                                        'in-stock': 'success',
                                        'out-of-stock': 'failure',
                                        'on-backorder': 'warning'
                                    }[product.stock]"
                                    [text]="{
                                        'in-stock': 'TEXT_STOCK_IN_STOCK',
                                        'out-of-stock': 'TEXT_STOCK_OUT_OF_STOCK',
                                        'on-backorder': 'TEXT_STOCK_ON_BACKORDER'
                                    }[product.stock]|translate"
                                ></app-status-badge>
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        <tr class="compare-table__row">
                            <th class="compare-table__column compare-table__column--header">{{ 'TABLE_PRICE'|translate }}</th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                {{ product.price|currencyFormat }}
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        <tr class="compare-table__row">
                            <th class="compare-table__column compare-table__column--header"></th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                <button
                                    appAddToCart
                                    type="button"
                                    class="btn btn-sm btn-primary"
                                    [class.btn-loading]="addToCart.inProgress"
                                    (click)="addToCart.add(product)"
                                    #addToCart="addToCart"
                                >
                                    {{ 'BUTTON_ADD_TO_CART'|translate }}
                                </button>
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        <tr class="compare-table__row">
                            <th class="compare-table__column compare-table__column--header">{{ 'TABLE_SKU'|translate }}</th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                {{ product.sku }}
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        <tr
                            *ngFor="let attribute of (show.value === 'all' ? attributes$ : differentAttributes$)|async"
                            class="compare-table__row"
                        >
                            <th class="compare-table__column compare-table__column--header">{{ attribute.name }}</th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                <ng-template #empty>—</ng-template>
                                <ng-container *ngIf="attribute.values[product.id]?.length > 0; else empty">
                                    <ng-container *ngFor="let value of attribute.values[product.id]; let last=last">
                                        {{ value.name }}<ng-container *ngIf="!last">, </ng-container>
                                    </ng-container>
                                </ng-container>
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        <tr class="compare-table__row">
                            <th class="compare-table__column compare-table__column--header"></th>
                            <td *ngFor="let product of products$|async" class="compare-table__column compare-table__column--product">
                                <button
                                    appRemoveFromCompare
                                    type="button"
                                    class="btn btn-sm btn-secondary"
                                    [class.btn-loading]="removeFromCompare.inProgress"
                                    (click)="removeFromCompare.remove(product)"
                                    #removeFromCompare="removeFromCompare"
                                >
                                    {{ 'BUTTON_REMOVE'|translate }}
                                </button>
                            </td>
                            <td class="compare-table__column compare-table__column--fake"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<app-block-space layout="before-footer"></app-block-space>
